body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#analysis {
    margin-top: 20px;
    width: 80%;
}

#controls {
    margin-top: 20px;
}
